{% extends 'base.html' %}

{% block nav-title %}申请列表{% endblock %}

{% block main_container %}

{% if student_view %}
<script>
    document.getElementById('add_button').style.display = "block";
    document.getElementById('tabby').style.display = "none";
</script>
{% endif %}

{% if not student_view %}
<div class="row" id="tabby">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#fund">预算</a></li>
            <li class="tab col s3"><a href="#paycheck">结算</a></li>
        </ul>
    </div>
</div>
{% endif %}

<div id="page_fund">
    {% if fund_list %}
    {% for fund in fund_list %}
    <div class="row">
        <div class="col s12 l8 offset-l2">
            <div class="card">
                <div class="card-content">
                        <span class="card-title">{{ fund.name }}
                            <div class="right">
                                {% if not student_view %}
                                    {% if stucon_view %}
                                        {% if fund.is_objected %}
                                        <a class="red btn">已否决</a>
                                        {% elif fund.is_viewed_by_student %}
                                        <a class="green btn">已批准</a>
                                        {% else %}
                                        <a class="waves-effect green waves-light btn"
                                           href="/{{ fund.id }}/approve">批准</a>
                                        <a class="waves-effect red waves-light btn" href="/{{ fund.id }}/deny">否决</a>
                                        {% endif %}
                                    {% else %}
                                        {% if fund.is_objected %}
                                        <a class="red btn">已否决</a>
                                        {% elif fund.is_viewed_by_teacher and fund.is_viewed_by_student %}
                                        <a class="green btn">已批准</a>
                                        {% else %}
                                        <a class="waves-effect green waves-light btn"
                                           href="/{{ fund.id }}/approve">批准</a>
                                        <a class="waves-effect red waves-light btn" href="/{{ fund.id }}/deny">否决</a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </span>
                    <p>申请时间：{{ fund.apply_date }}</p>
                    <p>申请者：{{ fund.username }}</p>
                    <p>当前状态：{{ fund.fund_status }}</p>
                </div>
                <div class="card-action">
                    <a class="teal-text" href="/upload/{{ fund.plan_file }}">下载附件</a>
                    <a class="teal-text" href="/{{ fund.id }}/">详情</a>
                    {% if fund.is_viewed_by_teacher and fund.is_viewed_by_student and student_view %}
                    <a class="teal-text" href="/{{ fund.id }}/upload_paycheck">上传结算表</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="pagination_container" style="text-align: center;">
        <ul class="pagination" style="display:inline-block">
            {% if fund_list.has_previous %}
            <li class="waves-effect" title='上一页'><a href='?page={{ fund_list.previous_page_number }}'>上一页</a></li>
            {% else %}
            <li class="disabled"><a href="#!">上一页</a></li>
            {% endif %}
            {% for page in fund_list.paginator.page_range %}
            {% if page == fund_list.number %}
            <li class="active teal" title='当前页:{{ page }}'><a href="#!">{{ page }}</a></li>
            {% else %}
            <li class="waves-effect"><a href='?page={{ page }}'>{{ page }}</a></li>
            {% endif %}
            {% endfor %}
            {% if fund_list.has_next %}
            <li class="waves-effect" title='下一页'><a href='?page={{ fund_list.next_page_number }}'>下一页</a></li>
            {% else %}
            <li class="disabled"><a href="#!">下一页</a></li>
            {% endif %}
        </ul>
    </div>
    {% else %}
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card-panel pink darken-1">
                {% if student_view %}
                <span class="white-text">当前没有申请!</span>
                <p class="white-text">点击右上角黄色按钮可以提交新申请</p>
                {% else %}
                <span class="white-text">当前没有需要审批的申请!</span>
                {% endif %}
            </div>
        </div>
    </div>

    {% endif %}
</div>

{% if not student_view %}
<div id="page_paycheck">
    {% if paycheck_list %}
    {% for fund in paycheck_list %}
    <div class="row">
        <div class="col s12 l8 offset-l2">
            <div class="card">
                <div class="card-content">
                        <span class="card-title">{{ fund.name }}
                            <div class="right">
                                {% if stucon_view %}
                                    {% if fund.is_objected %}
                                        <a class="red btn">已否决</a>
                                    {% elif fund.is_viewed_by_student %}
                                        <a class="green btn">已批准</a>
                                    {% else %}
                                        <a class="waves-effect green waves-light btn"
                                           href="/{{ fund.id }}/paycheck_approve">批准</a>
                                        <a class="waves-effect red waves-light btn" href="/{{ fund.id }}/paycheck_deny">否决</a>
                                    {% endif %}
                                {% else %}
                                    {% if fund.is_objected %}
                                    <a class="red btn">已否决</a>
                                    {% elif fund.is_viewed_by_teacher and fund.is_viewed_by_student %}
                                    <a class="green btn">已批准</a>
                                    {% else %}
                                    <a class="waves-effect green waves-light btn"
                                       href="/{{ fund.id }}/paycheck_approve">批准</a>
                                    <a class="waves-effect red waves-light btn"
                                       href="/{{ fund.id }}/paycheck_deny">否决</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </span>
                    <p>申请时间：{{ fund.apply_date }}</p>
                    <p>申请者：{{ fund.username }}</p>
                    <p>当前状态：{{ fund.fund_status }}</p>
                </div>
                <div class="card-action">
                    <a class="teal-text" href="/upload/{{ fund.plan_file }}">下载附件</a>
                    <a class="teal-text" href="/{{ fund.id }}/">详情</a>
                    <a class="teal-text" href="/upload/{{ fund.plan_file }}/">下载结算表</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="pagination_container" style="text-align: center;">
        <ul class="pagination" style="display:inline-block">
            {% if fund_list.has_previous %}
            <li class="waves-effect" title='上一页'><a href='?page={{ fund_list.previous_page_number }}'>上一页</a></li>
            {% else %}
            <li class="disabled"><a href="#!">上一页</a></li>
            {% endif %}
            {% for page in fund_list.paginator.page_range %}
            {% if page == fund_list.number %}
            <li class="active teal" title='当前页:{{ page }}'><a href="#!">{{ page }}</a></li>
            {% else %}
            <li class="waves-effect"><a href='?page={{ page }}'>{{ page }}</a></li>
            {% endif %}
            {% endfor %}
            {% if fund_list.has_next %}
            <li class="waves-effect" title='下一页'><a href='?page={{ fund_list.next_page_number }}'>下一页</a></li>
            {% else %}
            <li class="disabled"><a href="#!">下一页</a></li>
            {% endif %}
        </ul>
    </div>
    {% else %}
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card-panel pink darken-1">
                <span class="white-text">当前没有需要审批的申请!</span>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}

<div class="tap-target amber" data-activates="add_button" style="overflow:hidden">
    <div class="tap-target-content" style="color:white">
        <h5>欢迎使用！</h5>
        <p>点击这里开始提交申请</p>
        <br>
        </br>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
{% if student_view %}
    {% if not fund_list &}
    <script>
                $(document).ready(function(){
                $('.tap-target').tapTarget('open');
                });
    </script>
    {% endif %}
{% else %}
<script>
             $(document).ready(function(){
                $('ul.tabs').tabs();
              });
</script>
{% endif %}
{% endblock %}