{% extends "base.html" %}

{% block nav-title %}上传 {{ fund.name }} 的结算表{% endblock %}


{% block main_container %}

{% if error %}
<div class="container">
    <div class="row">
         <div class="col s12 m6 offset-m3">
            <div class="card-panel red lighten-2">
                <span class="white-text">上传失败：{{error}}</span>
            </div>
         </div>
    </div>
</div>
{% endif %}

<div class="row"> 
    <form method="post" enctype="multipart/form-data" class="col s12">
        {% csrf_token %}
        <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <div class="card-content">
                    <div class="row">
                        <div class="input-field col s12">
                          <span>上传结算表:{{ form.paycheck_file }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="input-field col s4 offset-s5">
                <button data-target="modal1" class="btn waves-effect waves-light btn-large" type="submit" name="action">上传结算表</button>
            </div>
        </div>
    </form>
</div>

{% if success %}
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>上传成功！</h4>
      <p>请耐心等待学代会和团委的审批！</p>
    </div>
    <div class="modal-footer">
      <a href="/" class="modal-action modal-close waves-effect waves-green btn-flat ">确定</a>
    </div>
  </div>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
    $(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
    $('#modal1').modal('open');
  });
</script>
{% endif %}

{% endblock %}